@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/OpenSans-SemiBold.woff) format('woff'),
  url(../fonts/OpenSans-SemiBold.woff2) format('woff2');
}

// @font-face {
//   font-family: 'Open Sans', sans-serif;
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(../fonts/OpenSans-Regular.woff) format('woff'),
//   url(../fonts/OpenSans-Regular.woff2) format('woff2');
// }

// @font-face {
//   font-family: 'Open Sans', sans-serif;
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url(../fonts/OpenSans-Light.woff) format('woff'),
//   url(../fonts/OpenSans-Light.woff2) format('woff2');
// }
