// Colors

$main-background-gray: #F3F7FA;
$white: #ffffff;
$element-bacground-gray: #F1FCFF;
$branded-blue: #2196F3;
$table-header: #A0B0B9;
$table-value: #4A4A4A;

$transition-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
